.modal {
  &__container {
    position: fixed;
    z-index: 2;
  }
  &__card {
    position: absolute;
    border: 2px solid red;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__background {
    width: 100vw;
    height: 100vh;
    background: $colorDark;
    opacity: 0.5;
  }
}

.abs {
  position: absolute;
  &--tl {
    top: 0.5rem;
    left: 0.5rem;
  }
  &--tr {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.container {
  &--flex-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card {
  &__container {
    max-width: $phoneBreakpoint;
    background-color: $colorDark;
    color: $colorBright;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 2rem;
  }
  &__heading {
    border-bottom: 2px solid $colorBright;
    margin: 0.7rem;
  }
  &__textbox {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $colorBright;
    border-radius: 0.5rem;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: inline-block;
  border-radius: 0.5rem;

  &--is-mini {
    padding: 0.1rem;
  }

  &--primary {
    border: none;
    color: $colorDark;
    background-color: $colorPrimary;
    &:hover {
      background-image: $gradientPrimary;
    }
  }
  &--warning {
    border: none;
    color: $colorBright;
    background-color: $colorWarning;
    &:hover {
      background-image: $gradientWarning;
    }
  }
  &--ghost {
    color: $colorBright;
    background-color: transparent;
    border: 1px solid $colorBright;
    &:hover {
      background-color: $colorBright;
      color: $colorDark;
    }
  }
  &--bright {
    border: none;
    color: $colorDark;
    background-color: $colorBright;
    &:hover {
      background-image: $gradientBright;
    }
  }
  &:disabled {
    background-color: #dddd;
    color: $colorDark;
    &:hover {
      cursor: not-allowed;
      background-color: #dddd;
      color: $colorDark;
    }
  }
  &:focus {
    outline: 0;
  }
}
