html {
  background: $gradientDark;
  margin: 0;
  padding: 0;
}

.dropdown {
  &__container {
    position: relative;
    display: inline-block;
  }
  &__content {
    position: absolute;
    background: $colorDarkBright;
    z-index: 1;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
  }
}

.show {
  display: block;
}

.modal {
  &__container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: $colorDark;
  }
  &__card {
    position: absolute;
    z-index: 3;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    margin: auto;
  }
  &__background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: $colorDark;
  }
}

.pos {
  &--rel {
    position: relative;
  }
  &--abs {
    position: absolute;
  }
  &--fix {
    position: fixed;
  }
  &--tl {
    top: 0.1rem;
    left: 0.1rem;
  }
  &--tr {
    top: 0.5rem;
    right: 0.5rem;
  }
  &--bm {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &--center {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.z {
  &--2 {
    z-index: 2;
  }
}

.container {
  &--flex {
    display: flex;
  }
  &--flex-vertical {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &--flex-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &--flex-end {
    justify-content: flex-end;
  }
  &--full-height {
    min-height: 75vh;
    @media (max-width: $breakPhone) {
      min-height: 50vh;
    }
  }
  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    @media (min-width: $breakPhone) {
      padding: 2rem;
    }
  }
  &--header {
    border-bottom: 1px dashed $colorBright;
    padding: 0.5rem;
  }
  &--footer {
    margin-top: 2rem;
    border-top: 1px dashed $colorBright;
    width: 100%;
  }
}

.grid {
  display: grid;
  &--header-col {
    grid-template-columns: 1fr 3fr;
  }
  &--hero-nav {
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
  }
  &--two-col {
    grid-template-columns: 1fr 1fr;
    @media (max-width: $breakPhone) {
      grid-template-columns: 1fr;
    }
  }
}

.max-width {
  &--phone {
    max-width: $breakPhone;
  }
  &--tablet {
    max-width: $breakTablet;
  }
  &--desktop {
    max-width: $breakDesktop;
  }
}

.mg {
  &--auto {
    margin: auto;
  }
}

.card {
  &__container {
    max-width: $breakPhone;
    background-color: $colorBright;
    color: $colorDark;
    padding: 2rem;
    margin: auto;
  }
  &__textbox {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $colorDark;
  }
  &__pinhead {
    border-left: 1px solid $colorDark;
    border-right: 1px solid $colorDark;
    border-bottom: 1px solid $colorDark;
    padding: 0.5rem;
    margin: 0 1rem 0.5rem 0.5rem;
    cursor: pointer;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: inline-block;

  &--mini {
    padding: 0.3rem;
  }

  &--primary {
    border: none;
    color: $colorDark;
    background-color: $colorPrimary;
    &:hover {
      background-image: $gradientPrimary;
    }
  }
  &--warning {
    border: none;
    color: $colorDark;
    background-color: $colorWarning;
    &:hover {
      background-image: $gradientWarning;
    }
  }
  &--ghost-bright {
    color: $colorBright;
    background-color: transparent;
    border: 1px solid $colorBright;
    &:hover {
      background-color: $colorBright;
      color: $colorDark;
    }
  }
  &--ghost-dark {
    border: 1px solid $colorDark;
    background-color: transparent;
    &:hover {
      background-color: $colorDark;
      color: $colorBright;
    }
  }
  &--bright {
    border: none;
    color: $colorDark;
    background-color: $colorBright;
    &:hover {
      background-image: $gradientBright;
    }
  }
  &:disabled {
    background-color: #dddd;
    color: $colorDark;
    &:hover {
      cursor: not-allowed;
      background-color: #dddd;
      color: $colorDark;
    }
  }
  &:focus {
    outline: 0;
  }
}

.checkbox {
  &__container {
    display: block;
    position: relative;
    margin: 0 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    & input:checked ~ .checkbox__checkmark:after {
      display: block;
    }
    & input:checked ~ .checkbox__checkmark {
      border: 1px solid $colorPrimary;
    }

    & .checkbox__checkmark:after {
      left: 0.3rem;
      top: -0.2rem;
      width: 0.4rem;
      height: 0.8rem;
      border: solid $colorPrimary;
      border-width: 0 0.2rem 0.2rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__checkmark {
    border: 1px dashed $colorWarning;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    height: 1rem;
    width: 1rem;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}

.bg {
  &--g-primary-bright {
    background: $gradientPrimaryBright;
  }
}

.border {
  &--bt-bright {
    border-bottom: 1px solid $colorBright !important;
  }
}