a {
  text-decoration: none;
  color: $colorDark;
  border-bottom: 1px dotted $colorDark;
  transition: all 0.5s;
  padding: 0.3rem;
  &:hover {
    border-bottom: none;
    background: $colorDark;
    color: $colorBright;
  }
}

input[type="url"],
input[type="email"],
input[type="password"],
input[type="text"] {
  border: none;
  border-bottom: 1px dotted $colorBright;
  color: $colorBright;
  padding: .8rem;
  margin: 0px;
  width: 94%;
  background: transparent;
};

input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus{
  outline: none;
  border-bottom: 2px solid $colorBrightDark;
};

input[type="url"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="text"]:valid{
  border-bottom: 3px solid $colorPrimary;
};

.txt {
  &--warning {
    color: $colorWarning;
  }
  &--is-small {
    font-size: 0.7rem;
  }
  &--is-dark {
    color: $colorDark !important;
  }
  &--is-bright {
    color: $colorBright !important;
  }
  &--is-headline {
    font-size: 1.5rem;
    font-weight: bold;
  }
}