$colorPrimary: #41EAD4;
$colorPrimaryDark: darken($colorPrimary, 8%);
$colorWarning: #FF206E;
$colorWarningDark: darken($colorWarning, 8%);

$colorDark: #0C0F0A;
$colorDarkDark: darken($colorDark, 8%);
$colorDarkBright: lighten($colorDark, 4%);

$colorBright: rgb(240, 235, 235);
$colorBrightDark: darken($colorBright, 8%);
$colorBrightBright: lighten($colorBright, 8%);

$gradientPrimary: linear-gradient(to bottom left, $colorPrimaryDark, $colorPrimary);
$gradientPrimaryBright: linear-gradient(to top left, $colorBright 90%, $colorPrimary 100%);
$gradientWarning: linear-gradient(-90deg, $colorWarning, $colorWarningDark);
$gradientBright: linear-gradient(-90deg, $colorBright, $colorBrightDark);
$gradientDark: linear-gradient(to bottom, $colorDarkBright 25%, $colorDarkDark 75%);

$breakPhone: 480px;
$breakTablet: 768px;
$breakDesktop: 1000px;