@import 'variables';
// @import 'text';
@import 'layouts';
@import 'animations';

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: $colorDark;
}
