@import 'variables';
@import 'text';
@import 'layouts';
@import 'animations';

#app {
  background: $colorDark;
  text-align: center;
  margin: auto;
  min-height: 98vh;
  min-width: $breakPhone;
  max-width: $breakDesktop;
}